.title {
  margin-bottom: 5rem;
}

table:nth-child(even) {
  background: darkgray !important;
}

.search-and-sort {
  margin-bottom: 4rem;
}
.search {
  float: left;
  width: 50%;
}
/* .searchInput {
  width: 60%;
}
.searchOption {
  width: 30%;
} */
.sort {
  float: right;
  width: 30%;
}
