<div class="mat-elevation-z8">

    <form mat-list-item class="search-form">
        <mat-form-field class="form-full-width">
            <mat-icon aria-hidden="false" aria-label="Example home icon" style="display: inline">search</mat-icon><input matInput placeholder="Search" value="Type in">
          
      
        </mat-form-field>
        </form>
 
  <table mat-table class="full-width-table" matSort aria-label="Elements">


    <!-- Budget Code Id Column -->
    <ng-container matColumnDef="budgetTitle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Budget Title</th>
        <td mat-cell *matCellDef="let row">{{row.budgetTitle}}</td>
      </ng-container>
  
      <!--budgetCode -->
      <ng-container matColumnDef="budgetCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Budget Code</th>
        <td mat-cell *matCellDef="let row">{{row.budgetCode}}</td>
      </ng-container>


    <!-- Budget Code Id Column -->
    <ng-container matColumnDef="budgetCodeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Budget Code</th>
      <td mat-cell *matCellDef="let row">{{row.budgetCodeId}}</td>
    </ng-container>

    <!--Fiscal Year Column -->
    <ng-container matColumnDef="fiscalYear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>fiscalYear</th>
      <td mat-cell *matCellDef="let row">{{row.fiscalYear}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
