<form #budgetForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="BudgetTitle">Budget Title:</label>
    <input type="text" class="form-control" id="BudgetTitle" 
    required [(ngModel)]=model.BudgetTitle name="BudgetTitle" #BudgetTitle
    >
    <!-- add validations -->

    <label for="BudgetCodeId">Budget Code Id:</label>
    <input type="number" class="form-control" id="BudgetCodeId" 
    required [(ngModel)]=model.BudgeCodeId name="BudgeCodeId" #BudgetCodeId
    >
    <!-- add validations -->

    <label for="BudgetCode">Budget Code </label>
    <input type="text" class="form-control" id="BudgetCode" 
    required [(ngModel)]=model.BudgetCode name="BudgetCode" #BudgetCode
    >
      <!-- add validations -->

    <label for="FiscalYear">Fiscal Year: </label>
    <input type="number" class="form-control" id="FiscalYear" 
    required [(ngModel)]=model.FiscalYear name="FiscalYear" #FiscalYear
    >
      <!-- add validations -->

    <button type="submit" class="btn btn-success">Add Budget</button>
  </div>
</form>