<header>
  <div class="container navigation">
    <div class="logo-container">
      <img class="logo" src="https://learn.trc.eku.edu/moodlecss/EKU_Primary_Logo_WHITE.png">
      <a href="#" class="name">BudgetApp</a>
    </div>
    
    <nav class="menu">
      <ul>
        <li><a href="#" routerLink="/">Budget Codes</a></li>
        <li><a href="#" routerLink="/create">Create Budget</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container content">
  <router-outlet></router-outlet>
</div>


