/*
 * Navigation Styling
 *
 * Author: Kenneth Carroll
 * date: 12/9/2020
 * revision: 2
*/

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: auto;
}
.mat-form-field-flex {
    height: 2rem;
}