<div class="container ">
  <mat-card *ngIf="budgetCode"  class=" mat-elevation-z16" >
    <p class="mat-small label">Budget Title:</p>
    <h3 class="mat-display-1 budgetTitle">{{ budgetCode.budgetTitle }}</h3>
    <p class="mat-small label">
      Fiscal Year:
    </p>
    <p class="fiscalYear">{{ budgetCode.fiscalYear }}</p>
    <p class="mat-small label">
      Budget Code:
    </p>
    <p class="budgetCode">{{ budgetCode.budgetCode }}</p>
    <p class="mat-small label">
      Budget Code ID:
    </p>
    <p class="mat-body">{{ budgetCode.budgetCodeId }}</p>
    <button mat-raised-button  routerLink="/">Back to all budgets</button>  
  </mat-card>

  
</div>
