/*
 * Budget Code Form Styling
 *
 * Author: Kenneth Carroll
 * date: 12/9/2020
 * revision: 2
*/

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: auto;
}
.mat-stroked-button {
    max-width: 3rem;
    margin: auto;
    display: flex;
    justify-content: center;
}