<!--
    Budget Codes List Component HTML

    author: Kenneth Carroll
    date: 12/8/2020
    revision: 2

-->
<div>

    <!-- Angular Material Table -->
    <table mat-table [dataSource]="pagedBudgetCodes">

        <!-- Budget Code Column-->
        <ng-container matColumnDef="bCode">
            <th mat-header-cell *matHeaderCellDef>Budget Code</th>
            <td mat-cell *matCellDef="let code">{{code.budgetCode}}</td>
        </ng-container>

        <!-- Budget Title Column-->
        <ng-container matColumnDef="bTitle">
            <th mat-header-cell *matHeaderCellDef>Budget Title</th>
            <td mat-cell *matCellDef="let code">{{code.budgetTitle}}</td>
        </ng-container>

        <!-- Fiscal Year Column-->
        <ng-container matColumnDef="fYear">
            <th mat-header-cell *matHeaderCellDef>Fiscal Year</th>
            <td mat-cell *matCellDef="let code">{{code.fiscalYear}}</td>
        </ng-container>

        <!-- Row Rendering-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
    </table>

    <!-- Angular Material Paginator-->
    <mat-paginator class="paginators"[pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>


<!--tr class="codes__header">
        <th class="codes__header__heading">Budget Code</th>
        <th class="codes__header__heading">Budget Title</th>
        <th class="codes__header__heading">Physical Year</th>
    </tr-->
    <!-- iterate over each stored budget code for a table row-->
    <!--tr *ngFor="let code of budgetCodes" class="codes__row">
        <td class="codes__row__data">{{code.budgetCode}}</td>
        <td class="codes__row__data">{{code.budgetTitle}}</td>
        <td class="codes__row__data">{{code.fiscalYear}}</td>
    </tr-->