/*
 *  Budget Codes List Component CSS
 *
 *  author: Kenneth Carroll
 *  date: 12/8/2020
 *  revision: 2
 *
*/


table {
    width: 80%;
    max-width: 800px;
    margin: 2rem;
    margin: auto;
}

.mat-paginator {
    display: flex;
    justify-content: center;
}


/*.codes {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.codes__header__heading, .codes__row__data {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

.codes__row:nth-child(even) {
    background-color: #f2f2f2;
}

.codes__row:hover {
    background-color: #ddd;
}

.codes__header__heading {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
    background-color: rgba(130,13, 13, 1);
    color: white;
}
*/