/*
 *  Budget Codes List Component CSS
 *
 *  author: Kenneth Carroll
 *  date: 12/8/2020
 *  revision: 2
 *
*/


table {
    width: 80%;
    max-width: 800px;
    margin: 2rem;
    margin: auto;
}

.mat-paginator {
    display: flex;
    justify-content: center;
}
